<html>
<head>
  <title>Search</title>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">TweetCues</a>
      </div>
    </div>
  </div>
  


  <div id="mycontainer">
    <h1>Get ideas from Twitter!</h1>

    <div id="search_form">
      <center>
        <input type="text" id="search_word" class="search-query input-xlarge" placeholder="Search for something">
        <button id="search_button" class="btn btn-primary">Go</button>
      </center>
    </div>

    <div id="wordCloud"></div>

    <div id="trailsBlock">
      <h4 id="searchTrailsTitle" style="display: none">Your idea trail:</h4>
      <div id="searchTrails"></div>
    </div>
  </div>
  <script>initShow();</script>
</body>
</html>